
.DS_Store

*.xcuserstate

bin/run mac demo.command
pascal-console-demo/backup/console_demo_lazarus.lpr
pascal-console-demo/backup/console_demo_lazarus.lpi
pascal-console-demo/backup/dll_loader.pas
pascal-console-demo/backup/dll_loaderAppTelemetry.pas
pascal-console-demo/backup/LazarusDemoProject.lpi
pascal-console-demo/backup/main.lpi
pascal-console-demo/backup/main.lps
pascal-console-demo/backup/main.pas
pascal-console-demo/console_demo_delphi10.res
pascal-console-demo/console_demo_lazarus.lpi
pascal-console-demo/console_demo_lazarus.lpr
*.user
*.user
sample-implementations/IOS/source/dev-propertyID.h
sample-implementations/IOS/demo-IOS.xcodeproj/project.pbxproj
sample-implementations/IOS/demo-IOS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
sample-implementations/IOS/demo-IOS.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
sample-implementations/IOS/demo-IOS.xcodeproj/xcuserdata/cto.xcuserdatad/xcschemes/xcschememanagement.plist
cpp-console-demo/build-mac/cpp-demo-mac.xcodeproj/xcuserdata/cto.xcuserdatad/xcschemes/xcschememanagement.plist
cpp-console-demo/build-mac/cpp-demo-mac.xcodeproj/xcuserdata/cto.xcuserdatad/xcschemes/xcschememanagement.plist
cpp-console-demo/build-mac/cpp-demo-mac.xcodeproj/project.pbxproj
cpp-console-demo/build-mac/cpp-demo-mac.xcodeproj/xcuserdata/cto.xcuserdatad/xcschemes/xcschememanagement.plist
cpp-console-demo/build-mac/cpp-demo-mac.xcodeproj/project.pbxproj
*.~pas
*.~dpr
bin/create dumpbin file.bat
samples/Delphi-Pascal/pascal-console-demo/console_demo_lazarus.lpi
samples/Delphi-Pascal/pascal-console-demo/console_demo_lazarus.lpr
samples/cpp/cpp-console-demo/build-mac/cpp-demo-mac.xcodeproj/xcshareddata/xcschemes/cpp-demo-mac.xcscheme
samples/cpp/cpp-console-demo/build-mac/cpp-demo-mac.xcodeproj/xcuserdata/cto.xcuserdatad/xcschemes/xcschememanagement.plist
samples/cpp/cpp-console-demo/build-mac/cpp-demo-mac.xcodeproj/xcuserdata/cto.xcuserdatad/xcschemes/xcschememanagement.plist
samples/cpp/cpp-console-demo/build-win/cpp-demo-win.vcxproj
samples/Delphi-Pascal/pascal-console-demo/console_demo_delphi10.dof
samples/Delphi-Pascal/pascal-console-demo/console_demo_delphi10.dpr
samples/Delphi-Pascal/pascal-console-demo/console_demo_delphi10.dproj
samples/Delphi-Pascal/pascal-console-demo/console_demo_delphi10.res
