
.DS_Store

*.xcuserstate

bin/run mac demo.command
pascal-console-demo/backup/console_demo_lazarus.lpr
pascal-console-demo/backup/console_demo_lazarus.lpi
pascal-console-demo/backup/dll_loader.pas
pascal-console-demo/backup/dll_loaderAppTelemetry.pas
pascal-console-demo/backup/LazarusDemoProject.lpi
pascal-console-demo/backup/main.lpi
pascal-console-demo/backup/main.lps
pascal-console-demo/backup/main.pas
pascal-console-demo/console_demo_delphi10.res
pascal-console-demo/console_demo_lazarus.lpi
pascal-console-demo/console_demo_lazarus.lpr
*.user
*.user
sample-implementations/IOS/source/dev-propertyID.h
sample-implementations/IOS/demo-IOS.xcodeproj/project.pbxproj
sample-implementations/IOS/demo-IOS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
sample-implementations/IOS/demo-IOS.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
sample-implementations/IOS/demo-IOS.xcodeproj/xcuserdata/cto.xcuserdatad/xcschemes/xcschememanagement.plist
cpp-console-demo/build-mac/cpp-demo-mac.xcodeproj/xcuserdata/cto.xcuserdatad/xcschemes/xcschememanagement.plist
cpp-console-demo/build-mac/cpp-demo-mac.xcodeproj/xcuserdata/cto.xcuserdatad/xcschemes/xcschememanagement.plist
cpp-console-demo/build-mac/cpp-demo-mac.xcodeproj/project.pbxproj
